

<div id="topSpacer"></div>
<div class="panel panel-primary" style="width: 50%; margin: auto;">
	<div class="panel-heading">Graph Builder</div>
	<div class="panel-body" style="text-align: center;">

		<div id="first-selector" ng-show="firstSelectorShow" class="form-group form-inline">
			<label>Select Table</label>
			<select class="form-control"
			ng-model="predefinedTableSelectionList.value" 
			ng-options="v.tableTitle for v in predefinedTableSelectionList.values" 
			ng-change="selectTable(predefinedTableSelectionList.value.tableCode);
			 "
			>
	
			</select>
		</div>
		<!-- Add filters for the selected chart will need:
			- Month limiter (upto X) will tie into SQL limits to display
			- Brand selection, pull from database or all together
			
		 -->
		 <!-- Select of brands pulled via PHP -->
		 <div id="brand-selector" 
		 class="form-group form-inline"
		 ng-show="brandShow"
		 >
		 	<label>Brands</label>
		 	<select
		 	class = "form-control"
		 	ng-model="brandList.value" 
			ng-options="v.brandname for v in brandList" 
			ng-change="selectBrand(brandList.value.brandidnum);"
		 	> 		
		 	</select>
		
		 </div> <!-- End of brand -->

		  <!-- Select of Items pulled via PHP -->
		 <div id="item-selector" 
		 class="form-group form-inline"
		 ng-show="itemShow"

		 >
		 	<label>Item</label>
		 	<select
		 	class = "form-control"
		 	ng-model="itemList.value" 
			ng-options="v.itemname for v in itemList" 
			ng-change="selectItem(itemList.value.itemidnum, itemList.value.itemcode);
			queryDatabase(queryBuilder);"
		 	> 		
		 	</select>
		
		 </div> <!-- End of brand -->

		 <!-- Select for location via PHP -->
		 <div id="location-selector" 
		 class="form-group form-inline"
		 ng-show="locationShow"
		 >
		 	<label>Location</label>
		 	<select
		 	class="form-control"
		 	ng-model="locationList.value"
		 	ng-options="v.locationname for v in locationList"
		 	ng-change = "
		 		selectLocation(locationList.value.locationidnum);

		 	"
		 	>
		 		
		 	</select>
		 </div> <!-- End of Location -->

		 <div id="timeframe-selector" 
		 class="form-group form-inline"
		 ng-show="timeframeShow"
		 >
		 	<label>From January - </label>
		 	<select
		 	class="form-control"
		 	ng-model="timeframeSelection.value"
		 	ng-options="v.month for v in timeframeSelection"
		 	ng-change="
		 		selectTimeframe(timeframeSelection.value.monthid);
		 		queryDatabase(queryBuilder);
		 	"
		 	/>
		 		
		 </div> 


<br>

</div>



<div class="panel-footer" ng-show="mainFooterShow">
	Query Builder: {{queryBuilder}}
</div>
<!-- 	{{graphData}} -->
</div> <!-- panel close -->
</div>